<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 1</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
In this Lab, you will learn how to use Python (pandas) for preprocessing your data when Imported from a SQL databease. By the end of this lab, you will be familiar with the connection methods and how you can run SQL Queries using Python.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
In this Lab you will learn:
<ol>
    <li><a href="#p1">How to Build a connection to a SQL database</a></li>
    <li><a href="#p2">Run Simple Queries and read them into a DataFrame</a></li>
    <li><a href="#p3">Run Complex Queries and read them into a DataFrame</a></li>
</ol>

Estimated Time Needed: <strong>40 min</strong>
</div>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p2>Part 2 : Set Up the Environment to connect to MYSQL server</a></h1>
</div>

In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\palem\appdata\roaming\python\python311\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# How to create an engine and connect to a database

# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [3]:
# dialect+driver://username:password@host:port/database
# 1. Dialect names include the identifying name of the SQLAlchemy dialect, a name such as sqlite, 
# mysql, postgresql, oracle, or mssql.
# The drivername is the name of the DBAPI to be used to connect to the database using all lowercase letters. 
# If not specified, a “default” DBAPI will be imported if available - this default is typically 
# the most widely known driver available for that backend.

# create engine
engine = create_engine('mysql+pymysql://user:password@localhost/test')

In [4]:
# connection string
conn = engine.connect()

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p3>Part 3 : Run Simple Query</a></h1>
</div>

In [5]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM test.vgsales1", conn)

In [6]:
# print DataFrame
print(df.head())

   Rank                      Name Platform  Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center><a name=p4>Part 4 : Run complex Query</a></h1>
</div>

In [7]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    test.vgsales1
WHERE
    Genre = 'Action'
        AND Year>= 2005''', conn)

print(complex_df)

   NA_Sales  EU_Sales  JP_Sales  Global_Sales  NA_GlobalShare
0     579.0     378.0     107.0        1208.0            48.0